# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# Visual Studio Code
*.code-workspace

# virtualenv
venv/
venv-*/

# pyenv
.python-version

# pytest
.pytest_cache/
.coverage*
coverage.xml

# build
dist/
*.egg-info/

# sphinx
_build/